@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}

.container{
    position: relative;
    top: 0;
    width : 100%;
    height: 500px;
    text-align: center;
    z-index: 3;
    background: #123C60;
    background-image:url("https://static.vecteezy.com/system/resources/previews/003/497/193/original/internet-cyber-security-connection-concept-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.container #H4 {
    padding-top:60px ;
    color : #0D89BF ;
    font-family: Helvetica;
    font-size : 30px;
    padding-bottom: 40px ;
}

.container #H1{
    font-size : 55px;
    color : #fff;
    font-family: Helvetica;
    padding-bottom: 70px ;
}
.container #H1 span {
    color : #0D89BF ;
}

.container #P{
    padding-bottom: 70px ;
    color : #fff ;
    font-family: Helvetica;
    font-size : 20px;
}
@media screen and (max-width: 1250px){
  .container{
    position: relative;
    height: auto;
   }
}



.wrapper{
    position: relative;
    width: 100%;
    height: 150px;
    padding-bottom: 10px;
}


.login {
    position: absolute;
    top :5px; right: 180px;
    color: #000;
}
.register {
    position: absolute;
    top :5px; right: 60px;
    color: #000;
}


.wrapper nav{
    position: relative;
    display: flex;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    background: #EEEEEE;
    position: absolute;
    top: 5px;
    left: 200px;
    margin-left: 80px;
    display: flex;
}
.content .logo  {
    position: absolute;
    left: -145px; top: -120px;
}
.content .logo a img {

    height: 500px;
    width: 600px;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #555;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    background: #555;
    color: #fff;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: #555;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}

.wrapper .search-box{
    position: absolute;
    top: 2px;
    left: 260px;
    height: 110%;
    max-width: calc(100% - 360px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #555;
    background:#EEEEEE;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: #777;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #EEEEEE;
    border: none;
    outline: none;
    color: #555;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"]{
    display: none;
}

/* Dropdown Menu code start */
.content .links ul{
    position: absolute;
    background: #EEEEEE;
    top: 80px;
    max-width: 100vh;
    z-index: 19;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}


/* Responsive code start */
@media screen and (max-width: 1250px){
    .wrapper nav{
        position: relative;
        top:0;
        max-width: 100%;
        min-width: 50%;
        padding: 0 20px;
        z-index: 19;

    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        position: absolute;
        left: 0;
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}

@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: flex;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: #EEEEEE;
        height: 100%;
        width: 100vh;
        top: 140px;
        left: -100%;
        margin-left: 0;
        max-width: 100%;
        overflow-y: auto;
        padding-bottom: 150px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.nav-link{
        display: none;
    }

    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;

    }
    .content .links #show-Research:checked ~ ul,
    .content .links #show-Collaboration:checked ~ ul,
    .content .links #show-Members:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}

@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo img {
        height: 10px;
        padding-left: 50px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
}


.top{
  display: flex;
  width: 100%;
  height: 40px;

}
.top a {
  color: #000;
  padding-left: 20px;
}
.top .img1{
  position: absolute;
  width: 30px;
  height: 20px;
  top :5px; right: 10px;
}
.top .img2{
  position: absolute;
  width: 30px;
  height: 20px;
  top :5px; right: 60px;
}
.top .login {
  position: absolute;
  top :5px; right: 210px;
  color: #000;
}
.top .register {
  position: absolute;
  top :5px; right: 110px;
  color: #000;
}

.Wrap{
  position:relative;
  top:-100px;
  margin: 10px auto;
  padding: 0 10%;
  padding-bottom:10px;
  z-index: 10;
  align-items: center;
}

.continer {
  display : grid ;
  gap:15px;
  grid-template-columns:
  repeat(auto-fit,minmax(270px, 1fr));

}
.box{
  padding:20px;
  height: 250px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background : #EEEE;
  background-image:  linear-gradient(rgba(219, 177, 59, 1), rgba(0,0,0,.5)),url("https://images.indianexpress.com/2021/05/Home-Desktop-Work-From-Home.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
 #blue{
  background-image:  linear-gradient(rgba(93, 169, 233, 1), rgba(0,0,0,.5)),url("https://images.indianexpress.com/2021/05/Home-Desktop-Work-From-Home.jpg");

}
.box h3{
  color:#fff;
  padding:10px 0;
  font-size:20px;
}
.box p {
  color:#fff;
  font-size:14px;
  line-height:1.6;
}
.btn{
  color:#fff;
  border:none;
  outline:none;
  font-size:17px;
  margin-top:10px;
  padding:8px 15px;
  background:#333;
  border-radius:5px;
  display:inline-block;
  text-decoration:none;
}
.btn:hover {
  letter-spacing:1px;
}
.box:hover {
  transform:scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}


@media (max-width : 991px)
{

  .Wrap{
    padding: 20px;
    position: relative;
    top: 0;
  }
}






.bigrow{
  position :relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top:30px;
  width:100%;
  min-height: 90vh;
  display:grid;
  padding-top: 50px ;
  padding-bottom: 100px;
}
.row{ 
  place-items:center;
  width:90%;
  max-width:1270px;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:50px,30px;
}
.row .left {
  overflow:hidden;
}

.row .left img{
  width:400px;
  height:500px;
  object-fit:cover;
  transition: 0.3s;
}
.row .left:hover img{
    transform: scale(1.25);
}

.row .right {
  display:flex;
  alighn-items:center;
}
.row .right .content2 {
  padding-left : 20px;
  
}
.row .right .content2 a {
    color: #000;
}
.row .right .content2 p {
  font-size :18px;
  line-height:26px;
  padding-bottom : 15px;
}

.row .right .content2 #second{
  font-family: arial;
  font-size: 15px;
}

.row .right .content2 .btn1 {
   position : relative;
   width : 150px; height : 40px;
   border-radius: 10px;
   border-color : #0D89BF;
   background : #fff;
   color : #0D89BF;
   transition-duration: 0.4s;
}


@media (max-width :991px){
  .row .right .content2 {
    padding-left :30px; 
}
}

@media (max-width :768px){
 .row{ 
  padding-top: 30px;
  padding-left: 30px ;
  width:90%;
  grid-template-columns:1fr;
  grid-gap:50px,30px;
  
}
}


.group{
  height: 100px;
  padding-top: 70px;
  padding-bottom: 50px;
}

#counts
{

    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("photo/0.jpg");
    /*display: flex;
    justify-content: space-around;*/
    color: #123C60;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#counts img
{
    border-radius: 50%;
    width: 20%;
}

#news
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 25px;
}

#news article
{
    width: 290px;
    height: 350px;
    background-color: #123C60;
    color: white;
    text-align: center;
    margin: 10px;
}

#news article:hover{transform: scale(1.05); transition: transform .5s ease;}

#news img { width: 290px; height: 180px; }
.btn-more{
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more
{
    font-size: 20px;
    border-radius: 25px ;
    border: none;
    padding: 10px;
    margin: 15px;
    color: white;
    background-color: #123C60;
    transition: transform 0.3s;
}

.more:hover {transform: translateY(-10%)}

a{text-decoration: none; color: white;}


/*MOBILE*/
@media screen and (min-width: 280px) and (max-width: 767px)
{
    #counts {grid-template-columns: repeat(2,1fr);}

    .slider img {
        margin-left: 100px;
    }
}

.slider {
    margin: auto;
    overflow: hidden;
}
.slider ul {
    background-color: #F6F6F6;
    display: flex;
    padding: 10px;
    animation: cambio 60s infinite linear;
}
.slider li {
    padding:0 10px;
    list-style: none;
}
.slider img {
    max-width: fit-content !important;
    height: 100px !important;
    margin-left: 200px;
}
@keyframes cambio {
    from {margin-left: 0%}
    to {margin-left: -100%}
}
